@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.global_white {
  color: #E7E9EA;
}

/*  */

:root {
  --primary-color-one: #000;
  --primary-color-two: #e7e9ea;
  --primary-color-three: rgb(29, 155, 240);
  --primary-color-four: rgb(32, 35, 39);
  --bg-hover-color: #91909034;
  --border-line-color: #2F3336;
  --fade-text-color: #71767b
}